*{
    margin: 0;
    padding: 0;
 

}
.main{
    background-image: url("assets/background3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(600px,100vw);
    height: 100vh;
    width: 100vw;
    position: relative;


    
}
 .box{
    height: 100vh;
    width: 100%;
    opacity: 0.70;
    position: absolute;
    top: 0%;
    background-color: #000000;
}
nav{
  
    max-width: 75vw;           /*window nani thay tyare autometic set thay*/
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    
}
nav img{
  
    position: relative;
    z-index: 10;
}
button{
    height: 35px;
    width: 70px;
    font-size: 20px;
    position: relative;
    z-index: 10;
    border: 1px solid black;
    border-radius: 7px;
}
#button1{
    background-color: black;
    color: aliceblue;
    width: 100px;
    position: relative;
    right: 10px;
}
#button2{
    background-color: rgb(197, 20, 20);
    color: rgb(248, 251, 253);
}
.hero{
 height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 3;
    font-size: 50px;
    gap: 10px;
}
span{
    height: 60px;
}
#line1{
   font-size: 50px;
}
#line2{
    font-size: 40px;
}
#line3{
    font-size: 20px;
 }
 #signup{
    background-color: red;
    width: 200px;
    height: 50px;
    color: white;
 }
 .section{
    background-color:black;
    height: 720px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 .movie{
    background-color: white;
    
    height: 350px;
    width: 300px;
 }
 .border{
   
    height: 30px;
    color: rgb(11, 16, 21);
    font-size: 20px;
 }