@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: black;
}
.main {
  background-image: url("assets/background3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(840px, 100vw);
  height: 80vh;
  width: 100vw;
  position: relative;
}
.box {
  height: 80vh;
  width: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0%;
  background-color: #000000;
}
nav {
  margin: auto;
  max-width: 75vw; /*window nani thay tyare autometic set thay*/
  margin: auto; /*  in div is in center eqally left and right side space distribue */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 70px;
}
nav img {
  position: relative;
  z-index: 10;
}
nav button {
  height: 35px;
  width: 70px;
  font-size: 20px;
  position: relative;
  z-index: 10;
  border: 1px solid black;
  border-radius: 7px;
}
#button1 {
  background-color: rgb(248, 239, 239);
  color: rgb(2, 10, 17);
  width: 100px;
  position: relative;
  right: 2px;
}
#button2 {
  background-color: rgb(197, 20, 20);
  color: rgb(248, 251, 253);
}
.hero {
  height: 381px;
  font-family: "Montserrat", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  position: relative;
  z-index: 3;
  gap: 23px;
}
.hero > :nth-child(1) {
  /*  1 line mate aa upyog ma levay and  */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 35px;
  text-align: center;
}
.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.email {
  display: flex;
  gap: 7px;
}

.email button {
  background-color: red;
  height: 40px;
  font-weight: 600;
  color: aliceblue;
  font-size: 17px;
  border: 1px solid rgb(161, 156, 156);
  border-radius: 6px;
}
.line {
  height: 6px;
  background-color: rgb(58, 57, 57);
}

.email input {
  background-color: rgba(23, 23, 23, 0.2);
  width: 300px;
  font-size: 20px;
  font-weight: 300;
  padding: 6px 27px;
  color: white;
  font-weight: bolder;
  border: 1px solid rgb(147, 142, 142);
  border-radius: 6px;
}
.tv {
  height: 250px;
  background-color: rgb(14, 15, 15);
  display: flex;
  justify-content: center;
  width: 100vw;
}
.tv .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  color: white;
}
.tv .image1 {
  position: relative;
  top: 45px;
  height: 150px;
}
.text :nth-child(1) {
  font-weight: bolder;
  font-size: 40px;
  padding-bottom: 20px;
}
